{% extends "UdyniManagement/page.html" %}
{% load static %}
{% block content %}

<div class="card my-5">
  <div class="card-body p-4">
    <div class="d-flex flex-row justify-content-center">
      <img src="{% static 'img/gandalf.png' %}" />
    </div>
    <div class="text-center">
      <h1 class="text-gray-900 mb-4">You shall not pass!</h1>
    </div>
    <div class="text-center">
      You do not have permission to access this page. If you think this is an error, please contact the system administrator
    </div>
  </div>
</div>

{% endblock %}