{% extends "UdyniManagement/page.html" %}
{% load static %}
{% block content %}

<div class="card my-5">
  <div class="card-body p-4">
    <div class="d-flex flex-row justify-content-center">
      <img src="{% static 'img/yoda.png' %}" />
    </div>
    <div class="text-center">
      <h1 class="text-gray-900 mb-4">Occurred a 404 error has</h1>
    </div>
    <div class="text-center">
      A disturbance in the force I sense. The dark side clouds everything. Impossible to see the page is.
    </div>
  </div>
</div>

{% endblock %}
