{% extends "UdyniManagement/page.html" %}
{% load euro %}
{% block content %}

{% if can_edit %}
<a href="{% url 'experimentalstation_add' %}" class="btn btn-primary btn-icon-split mb-4" aria-label="Add experimental station">
  <span class="icon text-white-50">
      <i class="fas fa-circle-plus"></i>
  </span>
  <span class="text">Add experimental station</span>
</a>
{% endif %}

{% regroup object_list by laboratory as laboratory_list %}

{% for group in laboratory_list %}
  <div class="card shadow mb-4">
    <div class="card-header">
      <h6 class="m-0 font-weight-bold text-primary">{{ group.grouper }}</h6>
    </div>
    <div class="card-body table-responsive">
      <table cellspacing="0" cellpadding="0" class="table table-sm table-hover reporting">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Responsible</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for experimentalstation in group.list %}
            <tr>
              <td>{{ experimentalstation.name }}</td>
              <td>{{ experimentalstation.description }}</td>
              <td>{{ experimentalstation.responsible }}</td>
              <td>{{ experimentalstation.status }}</td>
              <td class="col-actions">
                {% if perms.Reporting.costs_manage %}
                  <a href="{% url 'experimentalstation_mod' pk=experimentalstation.station_id %}" aria-label="Modify"><i class="fas fa-pencil" aria-hidden="true"></i></a>
                  <a href="{% url 'experimentalstation_del' pk=experimentalstation.station_id %}" aria-label="Delete"><i class="fas fa-trash-can" aria-hidden="true"></i></a>
                {% endif %}
                {% if perms.Experiments.costs_manage %} {# TODO: EDIT THIS BEFORE COMMITTING!!!!!!!! #}
                  <a href="{% url 'experimentalstation_mod' pk=experimentalstation.station_id %}"  class="btn btn-sm btn-primary btn-icon-split" aria-label="Show experiments">
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="text">Show experiments</span>
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endfor %}


{% endblock %}