{% extends "UdyniManagement/page.html" %}
{% block content %}

{% if can_edit %}
  <a href="{% url 'laboratory_add' %}" class="btn btn-primary btn-icon-split mb-4" aria-label="Add laboratory">
    <span class="icon text-white-50">
        <i class="fas fa-circle-plus"></i>
    </span>
    <span class="text">Add laboratory</span>
  </a>
{% endif %}

<div class="card mb-4">
  <div class="card-body table-responsive">
    <table cellspacing="0" cellpadding="0" class="table table-sm table-hover reporting">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {% for laboratory in object_list %}
          <tr>
            <td>{{ laboratory.name }}</td>
            <td>{{ laboratory.description }}</td>
            <td>{{ laboratory.location }}</td>
            <td class="col-actions">
              {% if can_edit %}
                <a href="{% url 'laboratory_mod' pk=laboratory.laboratory_id %}" aria-label="Modify"><i class="fas fa-pencil" aria-hidden="true"></i></a>
                <a href="{% url 'laboratory_del' pk=laboratory.laboratory_id %}" aria-label="Delete"><i class="fas fa-trash-can" aria-hidden="true"></i></a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}