{% extends "UdyniManagement/index.html" %}
{% block page %}

<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form id="login-form" method="post" action="" class="user">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" id="id_username" name="username" placeholder="Enter username...">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
                  </div>
                  {% if form.errors %}
                    <p class="text-danger">
                      Your username and password didn't match.
                      Please try again.
                    </p>
                  {% endif %}
                </form>
                <button type="submit" form="login-form" class="btn btn-primary btn-block" value="Login">
                  Login
                </button>
                <hr>
                <div class="text-center">
                    <a class="small" href="{% url 'account_password_reset' %}">Forgot Password?</a>
                </div>
                <div class="text-center">
                    <a class="small" href="{% url 'account_register' %}">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
