{% extends "UdyniManagement/page.html" %}
{% load static %}
{% block content %}

<div class="card mb-4">
  <div class="card-body table-responsive">
    {% for user in users %}
      <div class="card m-2">
        <div class="card-body">
          <div class="d-flex row">
            <div class="mx-4 my-2">
              {% if user.profile_picture %}
                <img src="data:image/jpeg;base64,{{ user.profile_picture }}" width="100" class="rounded" />
              {% else %}
                <img src="{% static 'img/undraw_profile.svg' %}" width="100" />
              {% endif %}
            </div>
            <div class="m-2">
              <h2>{{ user.first_name }} {{ user.last_name }}</h2>
              <div class="text"><a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
