<ul class="nav navbar-nav">
  <li><a href="{% url 'researcher_view' %}">Reseachers</a></li>
  <li><a href="{% url 'project_view' %}">Projects</a></li>
  <li><a href="{% url 'cost_view' %}">Personnel Costs</a></li>
  <li><a href="{% url 'presencedata_view' %}">Presence data</a></li>
  <li><a href="{% url 'reporting_view' %}">Financial reporting</a></li>
  <li><a href="{% url 'timesheets_view' %}">Generate Timesheets</a></li>
  <li><a href="{% url 'bankholiday_view' %}">Bank holidays</a></li>
  <li><a href="{% url 'epas_view' %}">EPAS codes</a></li>
</ul>
