{% extends "FinancialReporting/index.html" %}

{% block content %}

<a href="{% url 'presencedata_import' %}" class="btn btn-default" aria-label="Import data">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Import data
</a>

{% for r in researchers %}
  <h3>{{ r }}</h3>

  <table cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <td>Year</td>
        <td>Working days</td>
        <td>Total hours</td>
        <td>Total hours (no missions)</td>
        <td>TS hours</td>
        <td>Holidays</td>
        <td>Missions</td>
        <td>Illness</td>
        <td>Actions</td>
      </tr>
    <thead>
    <tbody>
      {% for obj in object_list %}
        {% if obj.researcher == r.pk %}
          <tr>
            <td>{{ obj.year }}</td>
            <td>{{ obj.working_days }}</td>
            <td>{{ obj.tot_hours | floatformat:-1 }}</td>
            <td>{{ obj.tot_hours_nom | floatformat:-1 }}</td>
            <td>{{ obj.tot_ts_hours | floatformat:-1 }}</td>
            <td>{{ obj.holidays }}</td>
            <td>{{ obj.missions }}</td>
            <td>{{ obj.illness_leave }}</td>
            <td class="col-actions">
              <a href="{% url 'presencedata_detailyear' researcher=obj.researcher year=obj.year %}" aria-label="Details">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
              </a>
              <a href="{% url 'presencedata_export2ts' researcher=obj.researcher year=obj.year %}" aria-label="Hours to TS">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
              </a
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endfor %}

{% endblock %}
