{% extends "FinancialReporting/index.html" %}
{% load tr_month %}

{% block content %}

<form id="import_form" name="import_form" method="post" action="{% url 'presencedata_store' %}">
{% csrf_token %}
<input type="hidden" name="researcher" value="{{ researcher.pk }}" />
{% for year, data_y in summary.items %}
  <h4>{{ year }}</h4>
  <div>Total hours: {{ data_y.total | floatformat:-1 }}</div>
  <table cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <td></td>
        <td>Month</td>
        <td>Working days</td>
        <td>Hours</td>
        <td>Code summary</td>
      </tr>
    <thead>
    <tbody>
      {% for month, data_m in data_y.items %}
        {% if month != 'total' %}
          <tr>
            <td><input type="checkbox" checked="checked" name="i_{{ year }}_{{ month }}" /></td>
            <td>{{ month | month_it2en }}</td>
            <td>{{ data_m.workingdays }}</td>
            <td>{{ data_m.hours | floatformat:-1 }}</td>
            <td>
              {% for c, q in data_m.codes.items %}
                <i>{{ c }}</i>: {{ q }}<br />
              {% endfor %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
<input type="submit" value="Import data" class="btn btn-default" />
<a href="{% url 'presencedata_view' %}" aria-label="Cancel" class="btn btn-default">Cancel</a>
</form>

<div id="import_dialog" title="Import in progress">
    <p>Please wait ...</p>
</div>

<script>
$('#import_dialog').dialog({
  hide: 'slide',
  show: 'slide',
  autoOpen: false,
});

$(document).ready(function() {
  $('#import_form').submit(function() {
    $('#import_dialog').dialog('open');
  });
});
</script>

{% endblock %}
