{% extends "FinancialReporting/index.html" %}
{% load tr_month %}

{% block content %}

<p>
  <a href="{% url 'presencedata_view' %}" aria-label="Back" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</a>
</p>
<p>
  Total hours: {{ total_hours | floatformat:-1 }}<br />
  {% if missing_hours > 0 %}
    Missing hours: {{ missing_hours | floatformat:-1 }}<br />
    Mission days to report: {{ missions2report }}<br />
  {% else %}
    Missing hours: 0.0<br />
  {% endif %}
</p>

<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <td>Month</td>
      <td>Working days</td>
      <td>Total hours (no missions)</td>
      <td>Holidays</td>
      <td>Missions</td>
      <td>Illness</td>
      <td>Projected TS hours</td>
    </tr>
  </thead>
  <tbody>
    {% for obj in presences.pres_stat %}
      <tr>
        <td>{{ obj.month | month_num2en }}</td>
        <td>{{ obj.working_days }}</td>
        <td>{{ obj.tot_hours_nom | floatformat:-1 }}</td>
        <td>{{ obj.holidays }}</td>
        <td>{{ obj.missions }}</td>
        <td>{{ obj.illness_leave }}</td>
        <td>0</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{# return {'missions': ms, 'personnel_cost': cp, 'pres_stat': qs, 'code_stat': cs} #}
