{% extends "FinancialReporting/index.html" %}
{% load tr_month %}
{% load generic %}

{% block content %}
<p>
  <a href="{% url 'timesheets_view' %}" aria-label="Back" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</a>
</p>

{% if error_message %}
<div class="alert alert-danger">
{{ error_message }}
</div>
{% endif %}

<form action="" method="post">
{% csrf_token %}

{% for month, data_by_month in data %}
  <div>
    <h4>{{ month | month_num2en }}</h4>

    <table cellpadding="0" cellspacing="0">
      <colgroup>
            <col class="col-md-2">
            {% for p in periods %}
              <col class="">
            {% endfor %}
        </colgroup>
      <thead>
        <td>Date</td>
        {% for p in periods %}
          <td class="period-header">
            <input type="checkbox" id="{{ month }}_{{ p.pk }}" />
            {{ p.project.name }}{% if p.wp %} {{ p.wp.name }}{% endif %}
          </td>
        {% endfor %}
      </thead>
      <tbody>
        {% for day, data_by_day in data_by_month %}
          <tr>
            <td class="col">{{ month | month_num2en }} {{ day }}<sup>{{ day | ordinal}}</sup></td>
            {% for check in data_by_day %}
              <td>
                {% if check %}
                  <input type="checkbox" id="{{ month }}_{{ check.pid }}_{{ day }}" name="{{ month }}_{{ check.pid }}_{{ day }}" {% if check.checked %}checked="checked" {% endif %}/>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}
<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Continue</button>
</form>

<script type="text/javascript">

function uncheck_line(id) {
  m = id.match(/^(\d+)_(\d+)_(\d+)$/);
  if(m == null)
    return;
  $("input:checkbox[id^='" + m[1] + "_']").each(function() {
    var re = new RegExp("^" + m[1] + "_\\d+_" + m[3] + "$", 'g');
    if($(this).prop('id') != id && $(this).prop('id').match(re) != null) {
      $(this).prop('checked', false);
    }
  });
}

function uncheck_header(id) {
  m = id.match(/^(\d+)_(\d+)_(\d+)$/);
  if(m == null)
    return;
  $("#" + m[1] + "_" + m[3]).prop('checked', false);
}

$(document).ready(function() {
  $("input:checkbox").change(function() {
    // Check checkbox ID
    m = $(this).prop('id').match(/^(\d+)_(\d+)_(\d+)$/);

    if(m != null) {
      // Single day cell. Should check that all the other cells on the line are not selected
      if($(this).prop('checked')) {
        uncheck_line($(this).prop('id'));
      } else {
        uncheck_header($(this).prop('id'));
      }
    } else {
      m = $(this).prop('id').match(/^(\d+)_(\d+)$/);
      if(m != null) {
        // Month cell
        console.log("1) MONTH: " + m[1] + ", PID: ", m[2]);
        if($(this).prop('checked')) {
          // Select all cells with id starting with month and pid
          $("input:checkbox[id^='" + m[1] + "_" + m[2] + "_']").each(function() {
            $(this).prop('checked', true);
            uncheck_line($(this).prop('id'));
          });
          // Select all the headers and unselect all the others
          $("input:checkbox[id^='" + m[1] + "_']").each(function() {
            var re = RegExp("^" + m[1] + "_(\\d+)$");
            n = $(this).prop('id').match(re);
            if(n != null && n[1] != m[2]) {
              console.log("2) MONTH: " + m[1] + ", PID: ", n[1]);
              $(this).prop('checked', false);
            }
          });
        } else {
          // Select all cells with id starting with month and pid
          $("input:checkbox[id^='" + m[1] + "_" + m[2] + "_']").each(function() {
            $(this).prop('checked', false);
          });
        }
      }
    }
  });
});

</script>

{% endblock %}
